body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  /* margin: 20px 24ox; */
  padding: 20px 24px;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.1em;
  color: #333333;
  margin: 0 0 64px 0;
}

img {
  display: block;
  margin: auto;
  height: 238px;
  width: 287px;
}

.title-main {
  font-weight: bold;
  font-size: 47px;
  letter-spacing: -0.035em;
  margin: 60px 0 30px;
  color: #333333;
}

.description {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.back {
  font-weight: bold;
  font-size: 14px;
  padding: 24px 43px;
  margin: 64px 0 96px;
  background: #333333;
  color: #ffffff;
  letter-spacing: -0.035em;
  cursor: pointer;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 22px;
}
/* 
@media (min-width: 700px) {
  body {
    padding: 40px 77px;
  }

  .main {
    display: inline-flex;
  }

  img {
    border: 1px solid red;
    width: 540px;
    height: 448px;
    display: block;
  }

  .content {
    border: 1px solid blue;
    width: 584px;
    height: 470px;
  } */
