body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  /* margin: 20px 24ox; */
  padding: 20px 24px;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.1em;
  color: #333333;
  margin: 0 0 64px 0;
}

img {
  display: block;
  margin: auto;
  height: 238px;
  width: 287px;
}

.grid {
  display: grid;
}

.title-main {
  font-weight: bold;
  font-size: 47px;
  letter-spacing: -0.035em;
  margin: 60px 0 30px;
  color: #333333;
}

.description {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.back {
  font-weight: bold;
  font-size: 14px;
  padding: 24px 43px;
  margin: 64px 0 96px;
  background: #333333;
  color: #ffffff;
  letter-spacing: -0.035em;
  cursor: pointer;
}

.back:hover {
  background: #ffffff;
  color: #333333;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 22px;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 40px 77px;
  }

  h1 {
    margin-bottom: 200px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  img {
    margin-top: 30px;
    width: 540px;
    height: 448px;
  }

  .title-main {
    margin-top: 30px;
    margin-bottom: 36px;
    font-size: 63px;
  }

  .description-container {
    max-width: 381px;
  }

  .description {
    font-size: 24px;
  }

  .back {
    margin: 36px 0 0;
    margin-top: 36px;
  }

  .footer {
    margin: 293px 0 0;
  }
}
